dash==2.6.2
dash-core-components
dash-html-components
dash-table
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
Flask
Flask-Compress
gunicorn
numpy
pandas
plotly
spacy-legacy
spacy-loggers
